# Hello World

In [1]:
10*"Hello World\n"

'Hello World\nHello World\nHello World\nHello World\nHello World\nHello World\nHello World\nHello World\nHello World\nHello World\n'

In [2]:
print(10*"Hello World\n")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

# Escape_Sequence

In [8]:
print("Hello, How are you?")

Hello, How are you?

In [9]:
print("Hello", end="")
print("How are you?")

HelloHow are you?

In [10]:
print("Hello", end=",")
print("How are you?")

Hello,How are you?

In [11]:
print("Hello", end=" ")
print("How are you?")

Hello How are you?

In [12]:
print("Hello","How are you?")
print("Hello"+"How are you?") #use + if you don't want space between 2 strings.

Hello How are you?
HelloHow are you?

In [13]:
print("\go")
print("\\no") #\n:New line character

\go
\no

In [14]:
print("Hello,\nHow are you?")
print("Hello,\n\tHow are you?")

Hello,
How are you?
Hello,
	How are you?

In [4]:
print("\"go") # \" gives double quotes in o/p 
print("\'go\'")
print("I watch \"Game of thrones\" only")

"go
'go'
I watch "Game of thrones" only

In [16]:
units = 3
unit_cost = 100
cost = units*unit_cost
print ( "units: {}, unit cost: {}, Cost: {}".format(units, unit_cost, cost ))
#For printing o/p along with title.

units: 3, unit cost: 100, Cost: 300

In [17]:
Ramesh = 40
Suresh = 55
Ganesh = 77

jee = "Scores of Ramesh , Suresh and Ganesh are {} , {} and {} respectively."

print(jee.format(Ramesh,Suresh,Ganesh))

Scores of Ramesh , Suresh and Ganesh are 40 , 55 and 77 respectively.

In [1]:
Ramesh = 40
Suresh = 55
Ganesh = 77

jee = "Scores of Ramesh, Ganesh and Suresh are {2} , {1} and {0} respectively."

print(jee.format(Ramesh,Suresh,Ganesh)) #Sequence dosn't matter now bcz we already allocated 2,1,0.

Scores of Ramesh, Ganesh and Suresh are 77 , 55 and 40 respectively.

# Variables_Datatype_Typecasting

str() : string ("Hello world") int() : integer (9) float() : decimal numbers (34.2)

long (long integers ) − AKA longs, they are integers of unlimited size, written like integers and followed by l or L. Ex:51924361L 
</p>complex (complex numbers) − are of the form a + bJ, where a and b are floats and J (or j) represents the square root of -1. Ex:3.14j

In [19]:
var1="Hello world"
var2=9
var3=34.2
var4="11"
var5="88"

In [20]:
print(var1)
print(type(var1))

Hello world
<class 'str'>

In [21]:
isinstance(var2, int)

True

In [22]:
print(var2+var3) #print(var1+var2) is not possible, because they are 2 different datatypes
print(var1 + var4)

43.2
Hello world11

In [23]:
print(var2+int(var4)) #typecasting
print(4* str(int(var4)+int(var5)))
print(4*(var4+var5))

20
99999999
1188118811881188

In [24]:
n1 = input("Enter first number: ") #input will always be taken as a string.
n2 = input("Enter second number: ")
print("sum of these two numbers is", int(n1) + int (n2))

Enter first number: 12
Enter second number: 122
sum of these two numbers is 134

# String

In [1]:
mystr = "World is beautiful" #In python index starts from zero, W is on 0th position, l:19th position

In [2]:
mystr

'World is beautiful'

In [27]:
print(mystr)

World is beautiful

In [28]:
print(len(mystr))

18

In [29]:
print(mystr[3])

l

In [30]:
print(mystr.isalnum())

False

In [31]:
print(mystr.count('o'))

1

In [1]:
print(mystr.count('l',3,18)) #ie count no. of l from 3rd position, till 18th position.

NameError: name 'mystr' is not defined

In [33]:
print(mystr.endswith("beautiful"))

True

In [34]:
print(mystr.find("is"))

6

In [35]:
print(mystr.index("is"))

6

In [36]:
print(mystr.find('i',4,18)) #i is found on 6th position, so it won't go further though there is one more i at 15th position.

6

In [37]:
print(mystr.rfind("i")) # last occurrence of 'i' in string "mystr"

14

In [194]:
list(mystr) #For changing string into list. It works in pycharm.

TypeError: 'list' object is not callable

In [198]:
list3 = [i for i in mystr] #For changing string into list
list3

['W',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'i',
 's',
 ' ',
 'b',
 'e',
 'a',
 'u',
 't',
 'i',
 'f',
 'u',
 'l']

In [38]:
for i in mystr:
    print(i)

W
o
r
l
d

i
s

b
e
a
u
t
i
f
u
l

In [39]:
for i in enumerate(mystr):
    print(i)

(0, 'W')
(1, 'o')
(2, 'r')
(3, 'l')
(4, 'd')
(5, ' ')
(6, 'i')
(7, 's')
(8, ' ')
(9, 'b')
(10, 'e')
(11, 'a')
(12, 'u')
(13, 't')
(14, 'i')
(15, 'f')
(16, 'u')
(17, 'l')

In [40]:
list(enumerate(mystr)) #Enumerate method adds a counter to an iterable & returns it in a form of enumerate object.

[(0, 'W'),
 (1, 'o'),
 (2, 'r'),
 (3, 'l'),
 (4, 'd'),
 (5, ' '),
 (6, 'i'),
 (7, 's'),
 (8, ' '),
 (9, 'b'),
 (10, 'e'),
 (11, 'a'),
 (12, 'u'),
 (13, 't'),
 (14, 'i'),
 (15, 'f'),
 (16, 'u'),
 (17, 'l')]

In [41]:
print(mystr.upper())

WORLD IS BEAUTIFUL

In [42]:
print(mystr.replace("beautiful","narrow"))

World is narrow

In [43]:
print(mystr.partition("is"))

('World ', 'is', ' beautiful')

In [2]:
str1 = "Natural language processing with Python and R and Java"
  
print(str1.rpartition("and"))

#The rpartition() method searches for the last occurence of the specified string and splits the string into a tuple containing three elements.
#Means string will be partitioned at 2nd 'and' not at first.

('Natural language processing with Python and R ', 'and', ' Java')

In [45]:
print(mystr.swapcase()) #swap cases of all letters

wORLD IS BEAUTIFUL

In [46]:
print(mystr.title()) #1st character in every word becomes upper case

World Is Beautiful

For more string functions visit: https://www.w3schools.com/python/python_ref_string.asp

In [47]:
print(mystr[0:3]) #LHS of colon will be included but RHS of colon will be excluded
#print(mystr[:3]) will give same o/p as above line

Wor

In [48]:
print(mystr[-18:-15])

Wor

In [49]:
print(mystr[:8], "Hell")

World is Hell

In [50]:
print(mystr[0:18])
#print(mystr[0:]) will give same o/p as above line
#print(mystr[0:61]) will print till 18th position and rest will be left
#print(mystr[0:18:]) 3rd colon will be by default 1, and will give same o/p as above line
#print(mystr[0:18:1]) will give same o/p as above line
#print(mystr[::]) will give same o/p as above line

World is beautiful

In [51]:
print(mystr[0:18:2])#will skip 1 character  alternately in the string
#print(mystr[0:18:3]) will skip 2 characters

Wrdi euiu

In [52]:
print(mystr[0:18:3453])#always resolves first colon, then goes for second colon

W

In [53]:
n2 = " Hello "
print(n2.strip())
#Removes any leading (spaces at the beginning) and trailing (spaces at the end) characters
#lstrip(): removes all whitespaces at the begining of the string ie left side of string
#rstrip(): removes all whitespaces at the end of the string ie right side os string

Hello

In [3]:
mystr4 = "one two three four one two two three five five"

mylist = mystr4.split() # Split String into substrings
mylist

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five']

In [55]:
s = "-"
seq = ("a", "b", "c")# This is sequence of strings.
print(s.join(seq))

a-b-c

In [56]:
str1 = "this is really a string example....wow!!!"
str2 = "is"
print(str1.rfind(str2))
#print(str1.endswith(str2))

5

In [57]:
print("My name is %s and weight is %d kg!" % ('Zara', 21)) #%f for float

My name is Zara and weight is 21 kg!

In [58]:
print('str1' 'str2')
print('str1', 'str2')
print('str1' + 'str2')
print('str1' + ' str2') #notice space before str2 in inverted comma. Alternate: 'str1 ' + 'str2'

str1str2
str1 str2
str1str2
str1 str2

In [3]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character ('*') as the fill character.
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [4]:
d = ()
print(not d) #To check if given list/string/dict is empty.

True

# List_Functions

In [218]:
constructing_a_list = list(('apple', 'banana', 'cherry')) #ie list(tuple)
numbers = [12,4,8,7,9,43,51]

TypeError: 'list' object is not callable

In [4]:
g = range(4)
print(g)             #creates a Python range object
print(list(g))       #creates a real list object   #print(list(range(4)))
print([*g])    #also  creates a real list object   #print([*range(4)])

#For 5 to 10: g = range(5,11)

range(0, 4)
[0, 1, 2, 3]
[0, 1, 2, 3]

In [62]:
numbers.sort() #This fn will change original list
#aka numbers.sort(reverse=False)

numbers

[4, 7, 8, 9, 12, 43, 51]

In [63]:
numbers.reverse() #will arrange the list in descending order
#aka numbers.sort(reverse=True)

numbers

[51, 43, 12, 9, 8, 7, 4]

In [215]:
print(sorted(numbers))     # Returns a new sorted list and doesn't change original list
numbers                     #This is original list

[4, 7, 8, 9, 12, 43, 51]

[12, 4, 8, 7, 9, 43, 51]

In [65]:
numbers[::2]

[51, 12, 8, 4]

In [66]:
numbers[-3:] #Gives last 3 items

[8, 7, 4]

In [67]:
max(numbers) #o/p: max number present in the list

51

In [68]:
min(numbers) #o/p: min number present in the ist

4

In [69]:
numbers[1] #number at index 1 will be printed

43

In [216]:
90 in numbers

False

In [70]:
sum(numbers)

134

In [71]:
numbers.count(4) #will give count of no.4

1

In [72]:
numbers.index(43) #Returns the index of first occurrence of no.43

1

In [73]:
numbers[::-1] #-1 will reverse the list, never go for any other negative string except -1

[4, 7, 8, 9, 12, 43, 51]

In [74]:
numbers.append(77) #It will add 77 in the end of the list
print(numbers)

[51, 43, 12, 9, 8, 7, 4, 77]

In [75]:
numbers.pop() #it will remove last character of the list
#numbers.pop(1) #it will remove character located at 1st index
#print(numbers.pop(1)) #it will print only the character which has been removed.

77

In [76]:
del numbers[1] #it will give same o/p as pop(1)
print(numbers)

[51, 12, 9, 8, 7, 4]

In [77]:
numbers.remove(51) #51 will be removed from the list
print(numbers)

[12, 9, 8, 7, 4]

In [78]:
numbers.insert(4,45) #45 will be added at fourth index
print(numbers)

[12, 9, 8, 7, 45, 4]

In [79]:
numbers[1] = 90 #will replace 1st index character by 90
print(numbers)

[12, 90, 8, 7, 45, 4]

In [225]:
n1 = numbers[:] #making new reference of list. # Altering 'numbers' will alter n1 as well bcz both are pointing to same list.
n2 = numbers.copy() #making new copy of list. Altering 'numbers' won't alter n2.

In [204]:
n1 = [111, 222, 333]
numbers.extend(n1)
print(numbers)

[12, 90, 8, 7, 45, 4, 111, 222, 333, 111, 222, 333]

In [81]:
for x in numbers:
    print(x) #for loop:it is used for printing all items in the list one by one

12
90
8
7
45
4

In [200]:
mylist4 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers between 0 - 40 using List Comprehension
mylist4                       #For odd, i % 2 ==1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [202]:
mylist5 = [i**2 for i in range(10)] # calculate square of all numbers between 0 - 10 using List Comprehension
mylist5

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

https://github.com/datasciencescoop/Python/raw/5a334aac9a3aa8f556142cf4e65a08b9248afcaf/Lcomprehension.PNG

In [210]:
# Extract numbers from a string
mystrng = "One 1 two 2 three 3 four 4 five 5 six 6789"
numb = [i for i in mystrng if i.isdigit()] #.isalpha for letters
numb

['1', '2', '3', '4', '5', '6', '7', '8', '9']

**Mutable** - can be changed.     **Mutable objects:** list, dict, set </p>**Immutable** - cannot be changed.     **Immutable objects:** integer, float, string, tuple, bool, frozenset</p>  </p>**Read about: Iterable & non iterable?**

In [83]:
tp = (2,4,5)
print(tp) #output of tuple will be given in parentheses ie ()

(2, 4, 5)

tp[1] = 21, it is not applicable in tuple because it is immutable

In [84]:
print(list(tp)) #to convert tuple into a list Eg:Refer line no.1

[2, 4, 5]

In [85]:
tp = (2)
print(tp) #o/p will come w/o parentheses

2

In [86]:
tp = (2,)
print(tp)#now it will come with parentheses

(2,)

In [87]:
a = 8
b = 3
a,b = b,a #it will interchange their values
print(a,b)

3 8

# Dictionary

Dictionary is a mutable data type in Python.


Keys must be unique in a dictionary, duplicate values are allowed.

In [250]:
d = dict([(1, 'sun'),(2, "eyes")])
print(d)
#dictionary constructor: using a list of tuples ie dict([list(tuple)])

{1: 'sun', 2: 'eyes'}

In [251]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
print(thisdict) 
#dictionary constructor

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [5]:
Dict = {1: 'Geeks', 2: 'For', 3:'Geeks'}
Dict
#Strings, numbers or tuples can be used as dictionary keys but list (Eg:["Sky"]) is not allowed.

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [253]:
d2 = {"Sky" : "Blue",
'Panther' : 2020,
"Sun" : {"Morning" : "East", "Noon":"Over head", "Evening":"West"}}
d2

{'Sky': 'Blue',
 'Panther': 2020,
 'Sun': {'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'}}

In [255]:
d2.keys() # Return Dictionary Keys using keys() method

dict_keys(['Sky', 'Panther', 'Sun'])

In [256]:
d2.values() # Return Dictionary Values using values() method

dict_values(['Blue', 2020, {'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'}])

In [257]:
d2.items() # Access each key-value pair within a dictionary

dict_items([('Sky', 'Blue'), ('Panther', 2020), ('Sun', {'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'})])

In [270]:
'Sky' in d2 # Test if a key is in a dictionary or not. # Membership test can be only done for keys.

True

In [260]:
print(d2['Sky'])
#print(d2.get("Sky")) #prints same result as above
print("sun rises in the", (d2["Sun"] ["Morning"]))

Blue
sun rises in the East

In [93]:
#adding new entry:
d2["Night"] = "Dark"
#d2.update({"Light":"Dark"})
d2

{'Sky': 'Blue',
 'Panther': 2020,
 'Sun': {'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'},
 'Night': 'Dark'}

In [94]:
#for adding new entry in nested dictionary:
d2['Sun']['Tomorrow'] = "Bright"
d2

{'Sky': 'Blue',
 'Panther': 2020,
 'Sun': {'Morning': 'East',
  'Noon': 'Over head',
  'Evening': 'West',
  'Tomorrow': 'Bright'},
 'Night': 'Dark'}

In [95]:
del d2["Sky"]
d2

{'Panther': 2020,
 'Sun': {'Morning': 'East',
  'Noon': 'Over head',
  'Evening': 'West',
  'Tomorrow': 'Bright'},
 'Night': 'Dark'}

In [96]:
#d2.pop("Sky") #while d2.pop() removes the last inserted item
#print(d2)

#print(d2.pop("Sky")) #o/p will print items stored in Sky.

In [262]:
d3 = d2.copy()
del d3["Sun"] #sun will be deleted from d3 and not from d2
#d2
d3

{'Sky': 'Blue', 'Panther': 2020}

In [98]:
#copying a dictionary with the dict() function:
d3 = dict(d2)
d3

{'Panther': 2020,
 'Sun': {'Morning': 'East',
  'Noon': 'Over head',
  'Evening': 'West',
  'Tomorrow': 'Bright'},
 'Night': 'Dark'}

In [99]:
#for printing keys:
for x in d2:
    print(x)
#print(d2.keys()) #Alternate way

Panther
Sun
Night

In [192]:
print(list(d2.keys())) #To get keys of dict as a list.
[*d2] #Alternate way. #Unpacking with * works with any object that is iterable

TypeError: 'list' object is not callable

In [264]:
#for printing items:
for x in d2:
    print(d2[x])
#print(d2.items()) #Alternate way

Blue
2020
{'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'}

In [268]:
for i in d2:
    print(i , ':' , d2[i]) # Key & value pair

Sky : Blue
Panther : 2020
Sun : {'Morning': 'East', 'Noon': 'Over head', 'Evening': 'West'}

## Dictionary comprehension

https://github.com/datasciencescoop/Python/raw/5a334aac9a3aa8f556142cf4e65a08b9248afcaf/Dcomprehension.PNG

In [271]:
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [272]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [273]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [274]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictionary by 10
mydict1


# mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
# mydict1 = {k+'b':v for (k,v) in mydict1.items()}
# mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

https://www.geeksforgeeks.org/python-dictionary/

# Sets

1) Unordered & Unindexed collection of items.

2) Set elements are unique. Duplicate elements are not allowed.

3) Set *elements* are immutable (cannot be changed).

4) Set itself is mutable. We can add or remove items from it.

In [219]:
constructing_a_set= set([1,4,2]) #ie set(list);o/p:{}
constructing_a_set
#o/p will be in ordered manner ie {1,2,4}

{1, 2, 4}

In [224]:
s11 = set((2,5,6))
s11

{2, 5, 6}

In [103]:
s = {1,4,2}
s

{1, 2, 4}

In [104]:
s.add(7)
s

{1, 2, 4, 7}

In [105]:
s.add(2) #since 2 is already in the set, hence it won't take this value i.e. "SET TAKES ONLY UNIQUE VALUES".
s

{1, 2, 4, 7}

In [222]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lists
myset3

TypeError: unhashable type: 'list'

In [106]:
s.remove(4) 
#s.discard(4) #Alternate way
s

{1, 2, 7}

s.clear empties the set while s.delete deletes the set completetly

Remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [221]:
x = s.pop() #Removes last item but sets are unordered, so you will not know what item that gets removed
#s
x

4

In [108]:
s1 = {3,5,4}
s2 = s.union(s1)
s2

{2, 3, 4, 5, 7}

In [109]:
s3 = s.union(s1, s2)
s3

{2, 3, 4, 5, 7}

In [110]:
s2 = s.intersection(s1)
s2

set()

In [111]:
s.update(s1) #Both union() and update() will exclude any duplicate items.
s

{2, 3, 4, 5, 7}

In [112]:
s.intersection_update(s1) #s will have the elements of s ∩ s1
s

{3, 4, 5}

In [113]:
s3 = s.difference(s1) 
#how s is diff from s1 and s1.diffrence(s) will tell how s1 is diff from s
s3

set()

In [114]:
s.difference_update(s1) 
#will remove s∩s1(ie 4) from s.
s

set()

In [115]:
print(s.isdisjoint(s1))
#Return True if no items in set s is present in set s1:

True

In [116]:
print(s.issubset(s1)) 
#Return true if s is subset of s1

True

In [117]:
print(s.issuperset(s1)) 
#Return true if s is superset of s1

False

In [118]:
print(s.symmetric_difference(s1)) 
#Return a set that contains all items from both sets, except items that are present in both sets

{3, 4, 5}

In [119]:
s.symmetric_difference_update(s1)
#Remove the items that are present in both sets & insert the items in s, which are present in s1 but not in s.
s

{3, 4, 5}

In [120]:
for x in s:
     print(x)

3
4
5

In [121]:
print(1 in s) #for checking items

False

In [122]:
s.update(["orange", "mango", "grapes"])
s

{3, 4, 5, 'grapes', 'mango', 'orange'}

## Set Operations

In [226]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [227]:
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)
#A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [228]:
A.union(B, C)  # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [229]:
A.update(B,C)    #A.update() will update Set A with union of A,B & C
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [230]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [231]:
A & B      #Intersection of a & b
#A.intersection(B)

{4, 5}

In [232]:
A.intersection_update(B) # #A.update() will update Set A with intersection of A & B.
A

{4, 5}

In [234]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [237]:
A - B  # set of elements that are only in A but not in B
#A.difference(B)

#B- A  #set of elements that are only in B but not in A
#B.difference(A)

{1, 2, 3}

In [238]:
B.difference_update(A)    #Set B will be updated  with the difference of B & A.
B

{6, 7, 8}

In [241]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").
#A.symmetric_difference(B)

{1, 2, 3, 4, 5}

In [240]:
A.symmetric_difference_update(B)   #Set A will be updated  with the symmetric difference of A & B.
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [242]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [243]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A.

True

In [244]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A.

True

In [245]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

True

In [246]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

False

https://www.geeksforgeeks.org/sets-in-python/


**All / Any**
</p>The all() method returns: True - If all all keys of the list/dictionary are true.False - If any key of the list/dictionary is false

The any() function returns:
True if any key of the list/dictionary is True. If not, any() returns False.

Eg: all(mydict1), any(List1)

# If_else

In [1]:
var1 = 4
var2 = int(input("Choose a number:"))
if var2>var1:
  print("Greater than 4")
elif var2==var1:
  print("Equal to 4")
else:
  print("Less than 4")
#The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition". In other words, don't even try this(i.e. elif) condition if previous conditions are true. Hence it saves time.

Choose a number:6
Greater than 4

In [124]:
#membership operators:

list1 = [4, 6, 8]
print(4 in list1) 

if 4 in list1:
    print("True")

True
True

In [125]:
var = 18
age = int(input("What is your age?="))

if age>var:
  print("You are eligible for driving")
elif age==var:
  print("Wait for few more days")
else:
  print("You are not eligible for driving")

What is your age?=25
You are eligible for driving

In [126]:
#ShortHand:

A = int(input("Enter A="))
B = int(input("Enter B="))

print("A is greater than B") if A > B else print("=") if A == B else print("B is greater than A")
#ie [on_true] if [expression] else [on_false]

Enter A=1222
Enter B=21
A is greater than B

In [127]:
#How to apply AND logical operator using if_else:

a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [128]:
#How to apply OR logical operator using if_else:

a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [129]:
#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
if b > a:
    pass

In [5]:
#Nested if:
x = int(input("Choose a number:"))
if x > 10:
  print("Above 10,")
if x > 20:
  print("and also above 20!")
else:
  print("not above 20.")

Choose a number:21
Above 10,
and also above 20!

# For_Loops

for Loop: This is traditionally used when programmers had a piece of code and wanted to repeat that 'n' number of times.

In [131]:
# With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
for x in "banana":
    print(x)

b
a
n
a
n
a

In [132]:
list1 = ["cat", "bat", "mat", "rat"]
print(list1[0], list1[1])

cat bat

In [133]:
for x in list1:
    print(x)

cat
bat
mat
rat

In [134]:
list2 = [["cats", 2], ["bats", 3], ["mats", 6], ["rats", 12]]
for x in list2:
    print(x)

['cats', 2]
['bats', 3]
['mats', 6]
['rats', 12]

In [135]:
for x, number in list2:
    print(x,"avilable", number)

cats avilable 2
bats avilable 3
mats avilable 6
rats avilable 12

In [136]:
dict1 = dict(list2)
print(dict1)
for x, number in dict1.items():
    print(x,"avilable", number)

{'cats': 2, 'bats': 3, 'mats': 6, 'rats': 12}
cats avilable 2
bats avilable 3
mats avilable 6
rats avilable 12

In [137]:
n1 = [12,3,"cat",1,23,6,"ball",53,3]
for x in n1:
    if str(x).isnumeric() and x>6:
        print(x)
#If we want only filter out numeric values which are >6 only from the list.

12
23
53

In [138]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":      #banana will printed
        break

apple
banana

In [139]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
print(x) #break is before print command

banana

In [140]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue #we can stop the current iteration of the loop, and continue with the next:
print(x)

cherry

In [141]:
for x in range(6):
    print(x)    #o/p won't include 6
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

0
1
2
3
4
5

In [142]:
for x in range(2, 30, 3): 
    print(x)
#range will start from 2, upto 30(30 wiil be excluded) by increment of 3

2
5
8
11
14
17
20
23
26
29

In [143]:
for x in range(6):
    print(x)
else:                        #else specifies a block of code to be executed when the loop is finished
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [144]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits: #Nested loop
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [145]:
for x in [0, 1, 2]:
    pass 
#if we want to leave 'for loop' without any content

In [146]:
#1 liners: Ex: for finding numbers divisible by 3 in range (0,100)
divisible_by_three = [i for i in range(100) if i%3==0]
divisible_by_three

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

# While_Loop

In [147]:
i = 0
while(i<11):
    print(i)
    i+=1                         #or i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [148]:
j = 5
while(j<51):
    if j%5==0:
        print(j, end=" ")          #end=" " will give o/p in single line
    j+=1

5 10 15 20 25 30 35 40 45 50

In [149]:
i = 1
while i < 6:
    print(i)
    i+= 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [6]:
i = 1
while i<6:
    if i == 3:
        break  #use break command to stop the loop, here loop will stop when i=3
    i+= 1
print(i)

3

In [152]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue # jumps directly to the next iteration.Here when i=3, it will jump to next iteration.
print(i)

6

# Break_and_Continue

In [154]:
j = 5
while(True):
    print(j, end=" ")
    if(j==13):
        break #stops the loop
    j = j+1

5 6 7 8 9 10 11 12 13

In [155]:
i = 0
while(i<50):
    if i+1 < 5:
        i = i+1
        continue              #In 'continue' won't let you get out of fn until fn is satisfied.
    print(i+1, end=" ")
    if(i==13):
        break    #stops the loop
    i = i+1
    
#when we want to print numbers only >5 and till 14

5 6 7 8 9 10 11 12 13 14

In [156]:
i = 0
while(i<50):
    if i+1 < 5:
        i = i+1
        pass                #In 'pass' we will be able to get out of fn even if the fn isn't satisfied.
    print(i+1, end=" ")
    if(i==13):
        break    #stops the loop
    i = i+1

2 4 5 6 7 8 9 10 11 12 13 14

In [157]:
fruits = ["apple", "orange", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana": #banana will be printed
        break
#when we want to print a list till desired character in the list. Eg: here till 'Banana'.

apple
orange
banana

In [158]:
fruits = ["apple", "orange", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break #banana won't be printed
    print(x) #break is before print command

apple
orange

In [159]:
while(True):
    i = int(input("Enter your number:\n"))
    if i > 100:
        print("It's more than 100\n")
        break
    else:
        print("Try again\n")
    continue

Enter your number:
122
It's more than 100

In [160]:
#Read from site: working of break and continue

# Operators_in_Python

In [161]:
"Arithmetic Operators"
print("15+6 is", 15+6)#same goes for "-"; "*"; "/"
print("15//6 is", 15//6)#Floor division: gives only integer part of divident and ignores decimals
print("15**6 is", 15**6)#Exponentiation: 15 to the power 6
print("15%6 is", 15%6)#Modulus: gives reminder

15+6 is 21
15//6 is 2
15**6 is 11390625
15%6 is 3

In [162]:
"Assignment Operators"
x = 5
print(x)
x += 7      #ie x=x+7, similarly other arithmetic operations can be applied.
print(x)

5
12

In [163]:
"Comparison Operators"
i = 5
print(i == 5)
print(i !=5) #symbol for not eqaul to

True
False

In [164]:
"Logical Operators"
a = True
b = False
print(a and b)
print(a | b) #reads a or b

False
True

In [165]:
"Identity Operators"
a = True
b = False
print(a is b)
print(a is not b)

False
True

In [166]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z) # returns True because z is the same object as x
print(x is y) # returns False because x is not the same object as y, even if they have the same content
print(x == y) # to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [167]:
"Membership Operators"
list = [4,23,54,32,12,11,3]
print(54 in list)
print(44 not in list)

True
True

In [168]:
"Bitwise Operators"
"""
0=00
1=01
2=10
3=11
"""

'\n0=00\n1=01\n2=10\n3=11\n'

In [169]:
print(0 & 1) #o/p of AND of 00 & 01 is 00, hece answer is 0
print(0 | 1) #o/p of OR of 00 & 01 is 01, hece answer is 1

0
1

In [170]:
&(AND): Sets each bit to 1 if both bits are 1
|(OR): Sets each bit to 1 if one of two bits is 1
^(XOR): Sets each bit to 1 if only one of two bits is 1
~(NOT): Inverts all the bits
<<(Zero fill left shift): Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>(Signed right shift): Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

SyntaxError: invalid syntax (<ipython-input-170-a34fa30ef0d8>, line 1)

In [171]:
a = 4
b = 3
c = sum((a,b))
print(c)

7

# Functions_and_Docstrings

In [172]:
def fn(n):
    print(n,"There?")
fn("Oye,")

Oye, There?

In [173]:
def fn(a,b):                                   #a and b are called parameters
    print("sum of the numbers is", a+b)
fn(3,7)                                        #3 and 7 are called arguments
#The phrase 'Keyword Arguments' are often shortened to kwargs in Python documentations.

sum of the numbers is 10

In [174]:
def fn(a,b):
    average = (a+b)/2
    print(average)
fn(3,7)

5.0

In [175]:
def fn(a,b):
    return (a+b)/2        #Using return command
v = fn(3,7)               #for storing o/p of the function in variable v. Here avg of 3,7 ie 5 will be stored in v.
print(v)

#Computer starts reading code from v=fn(3,7) equation. v has fn in it, so it goes upward at def fn, then it goes into fn with values a=3 & b=7, then runs fn and gets values of v and comes back.

5.0

In [176]:
def my_function(*kids):                        #If the number of arguments is unknown, add a * before the parameter name.
    print("The youngest child is ", kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is  Linus

In [177]:
def my_function(child3, child2, child1):
    print("The youngest child is ", child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

#You can also send arguments with the key = value syntax. This way the order of the arguments does not matter.

The youngest child is  Linus

In [178]:
def my_function(**kid):              #If the number of keyword arguments is unknown, add a double ** before the parameter name.
    print("His last name is", kid["lname"])
my_function(fname = "Tobias", lname = "Linus")

His last name is Linus

In [179]:
def my_function(country = "Norway"):
    print("I am from",country)
my_function("Sweden")
my_function("India")
my_function() #If we call the function without argument, it uses the default value:
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [180]:
def my_function(x):
    return 5 * x           #To let a function return a value, use the return statement.
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [181]:
You can send arguments of any data types to a function (string, number, list, dictionary etc.),
and it will be treated as the same data type inside the function.

SyntaxError: invalid syntax (<ipython-input-181-e324179abfc2>, line 1)

In [182]:
def my_function(food):
    for x in food:
        print(x)
fruits = ["apple", "banana", "cherry"] # E.g. if you send a List as an argument, it will still be a List when it reaches the function.
my_function(fruits)

apple
banana
cherry

In [183]:
def myfunction():
    pass #if we want to leave 'function' without any definition

In [7]:
def fn1(a,b):
#This is a function which will calculate average of numbers
    average = (a+b)/2
    return average
#comment written in 1st line of function is called as Docstring. Docstring contains description of the functon.
print(fn1.__doc__) #in o/p docstring of fn1 will be printed.
fn1(9,7)

None

8.0

# Try_Except_Exception_Handling

In [185]:
x = 10
try:
    print(x)
except:
    print("Something went wrong")
finally:                                  ##The finally block gets executed no matter if the try block raises any errors or not.
    print("The 'try except' is finished")

10
The 'try except' is finished

"""
n1 = (input("Enter first number " ))
n2 = (input("Enter second number " ))
try:
    print("sum of these two numbers is", int((n1)) + int((n2)))
except Exception as e:
    print(e)
print("Because I want this line to be printed") #This is 'finallly' command, though we need not to write it everytime

#O/p will print 'finally command' even if 'try command' throws an error.
#we use it when 'finally command' must be there in o/p irrespective of 'try command' works or not.
#Try giving n1=23 & n2=sde (non-numeric value) and check o/p 
"""

# File_IO_Basics

"r" - open file for reading - default mode "w" - open file for writing "x" - creates file if doesn't exist. returns an error if the file exists "a" - append ie add more content to a file "t" - text mode - default mode "b" - binary mode "+" - read and write

In [8]:
f = open("Shahbaz.txt", "r")#no need to write "r" & "rt" bcz they are default. if we need o/p in binary form, then use "rb"
print(f.read())
f.close()

Hey, Who are you?
I am fine.
How are you doing?

# File_Reading

In [9]:
f = open("Shahbaz.txt")
print(f.read())                  #it will print all characters of the file
f.close()

Hey, Who are you?
I am fine.
How are you doing?

In [ ]:
f = open("S:\\Documents\Python.txt", "r")
print(f.read()) #If the file is not located in the same folder as Python, then we will have to specify the file path

In [ ]:
f = open("Shahbaz.txt")
print(f.read(17))       #it will print first 17 characters
print(f.read(50))      #it will print next 50 characters. There aren't next 50 char. in file, so it will give whatever is there.
f.close()

In [ ]:
f = open("Shahbaz.txt")
print("1", f.read())        #if i ask to print all characters(let's say 100 there are characters in file) or >100 characters
print("2", f.read(13))      #then this part willl be printed as blank
f.close()

In [ ]:
f = open("Shahbaz.txt")
for line in f:
    print(line, end="")        #for printing o/p line by line
f.close()

In [ ]:
f = open("Shahbaz.txt")
print(f.readline())
print(f.readline())           #no. of times readline fn applied = no. of lines will be printed
f.close()

In [ ]:
f = open("Shahbaz.txt")
print(f.readlines()) #no use of using readline() command, after readlines() command. Reason? bcz file pointer will become empty. Matlab ki dene k liye kuch rahega hi nhi uske pas.
f.close()

In [ ]:
f = open("Shahbaz.txt")
print(f.tell())               #tells location of file pointer
print(f.readline())
print(f.tell())
print(f.readline())
print(f.tell())
print(f.readline())
print(f.tell())
f.close()

In [ ]:
f = open("Shahbaz.txt")
print(f.readline())
f.seek(20)               #resets file pointer at asked location. here 20
print(f.readline())
f.close()

In [ ]:
with open("Shahbaz.txt") as f:
    print(f.readline()) 

#Substitute for 'f = open("") and f.close()' is 'with open("") as f:'

# File_Writing

In [ ]:
f = open("Shahbaz1.txt", "w")
f.write("Hey, Who are you?")
f.close()
f = open("Shahbaz1.txt")
print(f.read())
#"w" - Write - will overwrite any existing content

In [ ]:
f = open("Shahbaz1.txt", "a")
f.write("\nHello, How are you?")
f.close()
f = open("Shahbaz1.txt")
print(f.read())
#append means add further, # will append to the end of the file
#in append, no. times code run = no. of times "text" will be printed

In [ ]:
f = open("Shahbaz1.txt", "w")
a = f.write("Hello, How are you?") #it will print no. of characters
print(a)
f.close()

In [ ]:
#Handle read and write mode
f = open("Shahbaz1.txt", "r+") #no. times code run = no. of times "text" will be printed
print(f.read())
f.write("\nI am fine!")
f.close()

In [ ]:
'''
To create a new file in Python:
use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist
"a" - Append - will create a file if the specified file does not exist, opens file if the file exist
"w" - Write - will create a file if the specified file does not exist, opens file if the file exist
'''

In [ ]:
f = open("myfile.txt", "x")
f.close()

In [ ]:
f = open("myfile.txt", "w")
f.write("Life is beautiful!")
f = open("myfile.txt")
print(f.read())

In [ ]:
f = open("myfile.txt", "a")

'''File Delete'''

# Global_Variables_and_Global_Keywords.

In [10]:
l = 10            #Gobal variable
b = 7
def function1(n):
    l = 5         #Local variable
    m = 2
    print(l,b)
    print(n, "How are you?")

function1("Hola!")
print(l)

5 7
Hola! How are you?
10

In [11]:
def function1():
    #l = 5
    m = 2
    global l            #To alter global value
    l = l+30
    print(l,b)
    print("How are you?")
function1()

40 7
How are you?

# Recurssion

In [ ]:
#Calculating factorial of no. by iterative method

def factorial_iterative(n):

#param n: integer
#return: factorial of n, by this method 1 * 2 * 3..... (n-2) * (n-1) * n

    fac = 1
    for i in range(n):
        fac = fac * (i+1)
    return fac

number = int(input("Enter your number "))
print(factorial_iterative(number))

In [ ]:
#Calculating factorial of no. by recursive method

def factorial_recursive(n):

#param n: integer
#return: factorial of n, by this method n * (n-1) * (n-2)..... 3 * 2 * 1

    if n==1:
        return 1
    else:
        return n * factorial_recursive(n-1)

number = int(input("Enter your number "))
print(factorial_recursive(number))

In [ ]:
def fibonacii(n):
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacii(n - 1) + fibonacii(n - 2)

numbers = int(input("Enter your number "))
print(fibonacii(numbers))

# Lambda_or_Anynomous_Function

In [ ]:
def minus_fn (x, y):
    return x-y
print(minus_fn(9,4))

In [ ]:
#Now by using lambda

minus_fn = lambda x, y: x-y
print(minus_fn(9,4))

In [ ]:
def first_fn(a):
    return a[0]
a = [[31,21], [11,14], [22,44]]
a.sort(key=first_fn)
print(a) #0th index elements will be sorted. Jiski 0th position sabse choti hogi (here 11) wo sabse pehle aa jayega.

In [ ]:
#Now by using lambda

a = [[31,21], [11,14], [22,44]]
a.sort(key=lambda x:x[0])
print(a)

In [ ]:
divisible_by_three = lambda x:True if x%3==0 else False #Divisibility of 3
print(divisible_by_three(11))

# Modules

In [ ]:
import random

In [ ]:
wish = random.randint(0,14)
print(wish)

In [ ]:
rand = random.random() #it will give random number in range (0,1)
print(rand)
rand = random.random() * 1000
print(rand)

In [ ]:
Artist = ["Axwell", "DJ Snake", "Martin", "Alan"]
choi = random.choice(Artist)
print(choi)

# F-strings

In [ ]:
#First 5 codes are traditional way of string formatting.

In [ ]:
me = "Shahbaz"
a = "This is %s"  %me     #gave more no. of spaces between %s and %me just for understanding,
print(a)

In [ ]:
a = "This is %s"   %"Shahbaz"
print(a)

In [ ]:
me = "Shahbaz"
b = "Pathan"
a = "This is %s %s"   %(me, b)
print(a)

In [ ]:
me = "Shahbaz"
b = "Pathan"
a = "This is {} {}"    #it is {0} {1} here.
c = a.format(me,b)
print(c)

In [ ]:
me = "Shahbaz"
b = "Pathan"
a = "This is {1} {0}"
c = a.format(me,b)
print(c)

F String (Better way of string formatting)

In [ ]:
me = "Shahbaz"
b = "Pathan"
a = f"This is {me} {b}"
print(a)

In [ ]:
import math
me = "Shahbaz"
b = "Pathan"
a = f"This is {me} {b} {9+1} {math.sin(30)}"
print(a)