In [5]:
constructing_a_list = ('apple', 'banana', 'cherry')
list = (constructing_a_list)
print(list)

('apple', 'banana', 'cherry')

In [18]:
g = range(1,21)
print([ str(x) for x in g])

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [16]:
g = range(4)
f = (list(g))
prinnt(f)

TypeError: 'tuple' object is not callable

In [13]:
# Create a list in a range of 10-20
My_list = [range(10, 20, 1)]
  
# Print the list
print(My_list)

[range(10, 20)]

In [2]:
a = ["1", 1, "1", 2]
print(list(set(a)))

[1, 2, '1']

In [3]:
d = []
print(not d)

True

In [1]:
e = {'a':1, 'b':2}
e

{'a': 1, 'b': 2}

In [6]:
f = dict([('a',1),('b',2)])
f

{'a': 1, 'b': 2}

In [9]:
e = dict(a = 1, b = 2)
e

{'a': 1, 'b': 2}

In [16]:
d = {"a": 1, "b": 2, "c":3}
for k,v in d.items():
    print(k,"available",v)

a available 1
b available 2
c available 3

In [13]:
d = {"a": 1, "b": 2, "c": 3}
print(d['a']+d['b'])

3

In [15]:
d = {"a": 1, "b": 2}
d['c']=3
d

{'a': 1, 'b': 2, 'c': 3}

In [16]:
print(sum(d.values()))

6

In [19]:
mydict1 = {'a':1, 'b':2, 'c':3}
mydict1 = {k:v for (k,v) in mydict1.items() if v<=1}
mydict1

{'a': 1}

In [6]:
print(list(range(10, 20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
print([*range(10,20)])

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
constructing_a_list = list(('apple', 'banana', 'cherry')) #ie list(tuple)
numbers = [12,4,8,7,9,43,51]

In [21]:
numbers

[12, 4, 8, 7, 9, 43, 51]

In [26]:
a = list((1,2,3))
a

[1, 2, 3]

In [23]:
a

[1, 2, 3]

In [ ]:
var1 = 9
var2 = int(input("Please enter your number= "))

if var1>var2:
    print("Number is greater than 9")
elif var1=var2:
    print("Number is 9")
else:
    print("Number is lesser than 9")

In [28]:
var1 = 4
var2 = int(input("Choose a number:"))
if var2>var1:
  print("Greater than 4")
elif var2==var1:
  print("Equal to 4")
else:
  print("Less than 4")

Choose a number:11
Greater than 4

In [30]:
var1 = 9
var2 = int(input("Please enter your number: "))

if var1>var2:
    print("Number is lesser than 9")
elif var1==var2:
    print("Number is 9")
else:
    print("Number is Greater than 9")

Please enter your number: 12
Number is Greater than 9

In [31]:
var1 = 9
var2 = int(input("Please enter your number: "))

print("Number is greater than 9") if var2>var1 else Print("number is 9") if var1==var2 else print ("Number is smaller than 9")

Please enter your number: 3
Number is smaller than 9

In [45]:
test_list = [4, 5, 16, 7, 3, 9]
i, j = 3, 10
print(test_list)

print ("Does list contain all elements in range: True")
for x in test_list:
    if x<i and x>j:
        print ("Does list contain all elements in range: Flase")
    break

[4, 5, 16, 7, 3, 9]
Does list contain all elements in range: True

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "apple":
        continue #we can stop the current iteration of the loop, and continue with the next:
print(x)

cherry

In [26]:
for i in range(100):
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [27]:
i = 0
while(i<11):
    print(i)
    i+=2

0
2
4
6
8
10

In [ ]:
j = 5
while(j<51):
    if j%5==0:
        print(j, end=" ")          #end=" " will give o/p in single line
    j+=1

In [ ]:
j = 5
while(j<51):
    if j%5==0:
        print(j)          #end=" " will give o/p in single line
    j+=1

In [38]:
j = 5
while(j<51):
    if j%5==0:
        print(j, end=" ")          #end=" " will give o/p in single line
    j+=1

5 10 15 20 25 30 35 40 45 50

In [39]:
i = 0
while(True):
    if i+1 < 5:
        i = i+1
        continue              #In 'continue' won't let you get out of fn until fn is satisfied.
    print(i+1, end=" ")
    if(i==13):
        break    #stops the loop
    i = i+1

5 6 7 8 9 10 11 12 13 14

In [42]:
while(True):
    i = int(input("Enter your number:"))
    if i > 100:
        print("It's more than 100\n")
        break
    else:
        print("Try again\n")
    continue

Enter your number:11
Try again

Enter your number:12
Try again

Enter your number:122
It's more than 100

IndentationError: unexpected indent (<ipython-input-43-d78a1b2e94b1>, line 2)

In [50]:
    i = int(input("Enter your number:\n"))
    
if i > 100:print("It's more than 100\n")
    else:print("Try again\n")
continue

Enter your number:
11
Try again

SyntaxError: 'continue' not properly in loop (<ipython-input-50-2f034ed3bd18>, line 5)

In [60]:
def fn(a = 6):
    return (a+2)/2        #Using return command
               #for storing o/p of the function in variable v. Here avg of 3,7 ie 5 will be stored in v.
print(fn(4))
print(fn())

3.0
4.0

In [53]:
def my_function(child3, child2, child1):
    print("The youngest child is ", child3)
my_function("Emil", "Tobias", "Linus")

The youngest child is  Emil

In [58]:
def my_function(*kids):
    print("The youngest child is ", kids[child3])
my_function({"child1": "Emil", "child2": "Tobias", "child3": "Linus"})

NameError: name 'child3' is not defined

In [64]:
def my_function(x):
    print(5 * x)
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
None
25
None
45
None

In [1]:
for x in np.nditer(b, order='C'):
    print(x)

NameError: name 'np' is not defined

In [2]:
b = np.array([[3,4,5], [1,2,14], [7,8,9]])

NameError: name 'np' is not defined

In [2]:
import numpy as np

In [4]:
b = np.array([[3,4,5], [1,2,14], [7,8,9]])

In [5]:
b

array([[ 3,  4,  5],
       [ 1,  2, 14],
       [ 7,  8,  9]])

In [8]:
for x in np.nditer(b):
    print(x)

3
4
5
1
2
14
7
8
9

In [9]:
for x in np.nditer(b, order='F'):
    print(x)

3
1
7
4
2
8
5
14
9

In [11]:
for x in np.nditer(b, op_flags=['readwrite']):
    x[...]=x**3
print(b)

[[     19683     262144    1953125]
 [         1        512 -813789696]
 [  40353607  134217728  387420489]]

In [12]:
print(np.empty((3,4)))

[[1.39911236e-311 3.16202013e-322 0.00000000e+000 0.00000000e+000]
 [0.00000000e+000 3.31259715e-033 1.42024124e+161 9.60789794e-071]
 [3.05688220e-057 4.04830735e-037 1.00105875e+165 1.95242271e+160]]

In [13]:
print(np.ones((3,4)))

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [14]:
print(np.arange(9,21,-1))

[]

In [15]:
g = np.arange(12).reshape(4,3)

In [16]:
g

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [18]:
g[g>6]=111

In [19]:
g

array([[  0,   1,   2],
       [  3,   4,   5],
       [  6, 111, 111],
       [111, 111, 111]])

In [1]:
 b = np.array([[3,4,5], [1,2,14], [7,8,9]])

NameError: name 'np' is not defined

In [1]:
import pandas as pd

In [12]:
classroom = {
    'Roll No' : [111,112,113,114,115,116],
    'Name' : ['Ajay','Vijay','Ram','Shyam','Anil','Sunil'],
    'Age' : [21,23,42,32,12,32]
}

df = pd.DataFrame(classroom)

df

   Roll No   Name  Age
0      111   Ajay   21
1      112  Vijay   23
2      113    Ram   42
3      114  Shyam   32
4      115   Anil   12
5      116  Sunil   32

In [13]:
df.dtypes

Roll No     int64
Name       object
Age         int64
dtype: object

In [15]:
df[['Name']][df['Age'] == df['Age'].max()]

  Name
2  Ram

In [19]:
ck={
    'Lion' : ['a','b','c'],
    "Tiger" : [2,1,3],
    "Dog" : ['yes','yeah','no']
}
df1=pd.DataFrame(ck)
df1

  Lion  Tiger   Dog
0    a      2   yes
1    b      1  yeah
2    c      3    no

In [20]:
%PROGRAMDATA%\jupyter\euler

UsageError: Line magic function `%PROGRAMDATA%\jupyter\euler` not found.

In [21]:
%APPDATA%\jupyter

UsageError: Line magic function `%APPDATA%\jupyter` not found.